<!DOCTYPE html>
<html>
<head>
  <title>Randomizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%if user_signed_in? %>
    <%=button_to('sign_out', 'users/sign_out', method: "delete")%>
  <%else%>
    <%=link_to "Sign In", "/users/sign_in"%>
  <%end%>

  <%= yield %>

</body>
</html>
